body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 1200px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
	color: #333;
	margin-top: 78px;
}
a, a:hover, a:focus {
	color: #da7d96;
}
p {
	font-size: 20px;
	line-height: 1.6;
	z-index: 20;
}
.container {
	width: 1170px;
}
.hidden {
	display: none;
}
/*Navigation*/
nav {
	position: fixed;;
	top: 0;
	width: 1200px;
	margin: auto;
	z-index: 100;
}
.navigation-wrap {
	position: inherit;
	width: 100%;
	background-color: #fff;
	z-index: 100;
}
.navigation__logo {
	font-size: 24px;
	margin: 20px 0;
	font-weight: normal;
}
.navigation__menu {
	list-style: none;
	text-align: right;
	margin: 26px 0;
}
.navigation__menu li {
	display: inline-block;
	margin-left: 70px;
}

/*Banner*/
.banner-wrap {
	background-image: url(img/banner-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
}
.banner__image {
	width: 100%;
	height: 100%;
	margin-top: 100px;
}
