*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
/*About*/
.about {
	padding-top: 213px;
	padding-bottom: 130px;
}
.about__image {
	position: absolute;
	left: -373px;
	top: -80px;
	width: 620px;
	height: 176px;
	z-index: -1;
}
/*Fleet*/
.fleet-wrap {
	background: url(img/fleet.png), linear-gradient(119deg, #8966be, #8a66bd 18%, #ff8080);
	background-repeat: no-repeat;
	background-size: cover;
	height: 608px;
}
.fleet {
	padding-top: 214px;
	font-family: "RobotoLight", sans-serif;
}
.fleet__image {
	position: absolute;
	left: -372px;
	top: -60px;
	width: 516px;
  	height: 183px;
	z-index: 2;
}
.fleet p {
	color: #fff;
}
/*Contacts*/
.contacts {
	padding: 80px 0;
}
.contacts__header {
	font-size: 36px;
	color: #3b3b3b;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 40px;
}
.contacts__item p {
	line-height: 1.38;
  color: #bdbdbd;
	font-size: 16px;
	font-weight: 300;
	height: 44px;
	margin-top: 0;
	margin-bottom: 10px;
}
